@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right ">

            <li class="notifications">
                <a href="#">
                    <i class="glyphicon glyphicon-globe" ></i>
                    <span class="badge hide js-notifications-count"></span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @User.Identity.GetUserName()
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="@Url.Action("Mine","Gigs")">My Comming Gigs</a>
                    <a class="dropdown-item" href="@Url.Action("UpcommingGigs","Gigs")">Gigs I'm Attending</a>
                    <a class="dropdown-item" href="@Url.Action("ArtistFollow","Follow")">Artist I'm Following</a>                    
                    <a class="dropdown-item divider"></a>
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>

            </div>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
